__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
D/work2/
data/**
!data/.gitkeep
!data/README.md
outputs/**
!outputs/.gitkeep
!outputs/README.md
*.docx
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx
*.sav
*.sas7bdat
*.zip
*.rar
*.7z
*.tar
